/.vs/Kafka/v16/.suo
/GetMessage/bin/Debug/netcoreapp3.1/GetMessage.dll
/GetMessage/bin/Debug/netcoreapp3.1/GetMessage.exe
/GetMessage/bin/Debug/netcoreapp3.1/GetMessage.pdb
/GetMessage/bin/Debug/netcoreapp3.1/GetMessage.runtimeconfig.dev.json
/GetMessage/bin/Debug/netcoreapp3.1/Kafka.dll
/GetMessage/bin/Debug/netcoreapp3.1/Kafka.pdb
/GetMessage/obj/Debug/netcoreapp3.1/GetMessage.assets.cache
/GetMessage/obj/Debug/netcoreapp3.1/GetMessage.csproj.CoreCompileInputs.cache
/GetMessage/obj/Debug/netcoreapp3.1/GetMessage.csproj.FileListAbsolute.txt
/GetMessage/obj/Debug/netcoreapp3.1/GetMessage.csprojAssemblyReference.cache
/GetMessage/obj/Debug/netcoreapp3.1/GetMessage.dll
/GetMessage/obj/Debug/netcoreapp3.1/GetMessage.exe
/GetMessage/obj/Debug/netcoreapp3.1/GetMessage.genruntimeconfig.cache
/GetMessage/obj/Debug/netcoreapp3.1/GetMessage.pdb
/GetMessage/obj/GetMessage.csproj.nuget.dgspec.json
/GetMessage/obj/GetMessage.csproj.nuget.g.props
/GetMessage/obj/project.assets.json
/GetMessage/obj/project.nuget.cache
/Kafka/bin/Debug/netstandard2.0/Kafka.dll
/Kafka/bin/Debug/netstandard2.0/Kafka.pdb
/Kafka/obj/Debug/netstandard2.0/Kafka.assets.cache
/Kafka/obj/Debug/netstandard2.0/Kafka.csproj.CoreCompileInputs.cache
/Kafka/obj/Debug/netstandard2.0/Kafka.csproj.FileListAbsolute.txt
/Kafka/obj/Debug/netstandard2.0/Kafka.csprojAssemblyReference.cache
/Kafka/obj/Debug/netstandard2.0/Kafka.dll
/Kafka/obj/Debug/netstandard2.0/Kafka.pdb
/Kafka/obj/Kafka.csproj.nuget.dgspec.json
/Kafka/obj/Kafka.csproj.nuget.g.props
/Kafka/obj/project.assets.json
/Kafka/obj/project.nuget.cache
/KafkaTest/bin/Debug/netcoreapp3.1/Kafka.dll
/KafkaTest/bin/Debug/netcoreapp3.1/Kafka.pdb
/KafkaTest/bin/Debug/netcoreapp3.1/KafkaTest.deps.json
/KafkaTest/bin/Debug/netcoreapp3.1/KafkaTest.dll
/KafkaTest/bin/Debug/netcoreapp3.1/KafkaTest.pdb
/KafkaTest/bin/Debug/netcoreapp3.1/KafkaTest.runtimeconfig.dev.json
/KafkaTest/obj/Debug/netcoreapp3.1/KafkaTest.assets.cache
/KafkaTest/obj/Debug/netcoreapp3.1/KafkaTest.csproj.CoreCompileInputs.cache
/KafkaTest/obj/Debug/netcoreapp3.1/KafkaTest.csproj.FileListAbsolute.txt
/KafkaTest/obj/Debug/netcoreapp3.1/KafkaTest.csprojAssemblyReference.cache
/KafkaTest/obj/Debug/netcoreapp3.1/KafkaTest.dll
/KafkaTest/obj/Debug/netcoreapp3.1/KafkaTest.genruntimeconfig.cache
/KafkaTest/obj/Debug/netcoreapp3.1/KafkaTest.pdb
/KafkaTest/obj/KafkaTest.csproj.nuget.dgspec.json
/KafkaTest/obj/KafkaTest.csproj.nuget.g.props
/KafkaTest/obj/project.assets.json
/KafkaTest/obj/project.nuget.cache

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/